h1{
    padding: 1%;
    text-align: center;
    color: #1F3754;
}

h3.no-item{
    text-align: center;
    color: darkblue;
}

.flightloglist{
    background-color: white;
}

pre{
    font-family: Arial;
}
